.App {
  font-family: monospace;
  text-align: center;
}

body {
  background-color: midnightblue;
  color: bisque;
  font-size: 1rem;
}

input {
  padding: 1rem;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  height: 5%;
  border: 1px solid brown;
  border-radius: 10px;
}

.emojiwrapper {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}
